body{
    background-color: rgb(219, 186, 142);
}

.card {
    background-color: rgba(85, 170, 10,.8);
    border: 2px;
    border-style: solid;
    padding: 10px;
}

.cardCarrito {

    background-color: rgba(18, 187, 68, 0.8);
    border: 1px;
    border-style: solid;
    padding: 5px;
    width: 100%;

}

div.contenedorCarrito{
    justify-content: center;
    display: grid;
    row-gap: 2px;
}

.imgArt{

  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 130px;
}

div.infoCard{
    justify-content: center;
    align-items: center;
    padding: 10px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    column-gap: 5px;
    row-gap: 5px;
}

.imgCarrito {
    width: 80px;
}

.imgLogo{
    width:100px;
    border-radius: 5px;
    opacity: 0.5;
}

.Navbar{

    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float:left;
    padding: 3px;
}

.bi-cart-check {
    margin-top: 30px;
    float: right;
}

.bi-cart-check:hover{

    background-color: rgb(210, 120, 1);

}

.form-inline{
    margin-top: 35px;
    margin-right: 50px;
}

.tituloCarrito{
    background-color: rgba(4, 125, 30,.6);
    color: white;

}

div.href{
    margin-top: 40px;
}

.hrefA:hover{
    background-color: rgb(210, 120, 1);
}

.hrefA{
    margin-left: 40px;
    text-decoration: none;
    color:black;
    font-size:larger;
}

.contenedorConsejos{
    width: 80%;
    margin-left: 80px;
}
